body {
	padding: 20px;
	background: #F4F7FF;
}

#inputView label {
	text-transform: uppercase;
	display: block;
	text-align: center;
	font-size: 20px;
	color: #2377FF;
}

#inputView textarea {
	margin: 2px auto 0;
	min-height: 240px;
	max-width: 722px;
	border-radius: 20px;
	display: block;
	width: 100%;
	outline: 0;
	border-color: #2377FF;
	font-size: 10px;
}

#inputView #submit {
	border-radius: 20px;
	background: #fff;
	border: none;
	padding: 15px 29px;
	font-size: 15px;
	margin: 20px auto;
	display: block;
	background: #2377FF;
	color: #fff;
	outline: 0;
}